.container{
    width: 400px;
    height: 370px;
    overflow: hidden;
    margin: 17px;
    justify-content: center;
    border: 2px groove #ABB2B9;
    border-radius: 13px;
}

.nav{
    text-decoration: none;
}

.info{
    padding: 0;
    width: 400px;
    height: 90px;
    display: block;
    justify-content: center;
    align-items: center;
    /* line-height: 1; */
}

.img{
    width: 90%;
    height: 250px;
    border-radius: 13px;
    /* margin: 10px 10px; */
}

.img:hover{
    transform: scale(1.1);
    rotate: 360deg;
    transition: 0.5s ease;
}

.name:hover , .temperament:hover {
    font-size: x-large;
    color: #E41D08;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
