.container{
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    margin-top: 0px;
    margin-bottom: 0px;   
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.name{
    margin-right: 9px;
    color: #1F618D;
    font-size: 13.5px;
    font-weight: bold;
}

.img{
    width: 30px;
    height: 30px;
    margin-right: 13px;
    border-radius: 50%;
}

.img:hover{
    width: 35px;
    height: 35px;
}

.contact{
    margin-right: 9px;

}


