 
  .title{
    color: white;
    align-items: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 41px;
  }

  .bg{
    background-image: url("../../utils/img/Presentación1.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .button {
    padding: 0.6em 1em;
    border: 4px solid #fa725a;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #fa725a;
    font-weight: bolder;
    font-size: 21px;
   }
   
   .button:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #fa725a;
    color: white;
   }