.button {
    align-self: center;
    border: #17202A  solid 2px;
    color: #273746;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .75rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    background-color: #CCD1D1;
  }

  .button:hover {
    transform: translateY(2px);
  }

  .bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/vector-gratis/vector-fondo-animal-ilustracion-mascotas-lindas_53876-127698.jpg?w=2000");
    /* opacity: 80%; */
    background-position: center;
    background-size: cover;
  }