.button {
    align-self: center;
    border: #17202A  solid 2px;
    color: #273746;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    padding: .75rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    background-color: #F78E69;
  }

  .button:hover {
    transform: translateY(2px);
  }

  .title{
    color: white;
    align-items: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 41px;
  }

  .bg{
    background-image: url("../../utils/img/Presentación1.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }