.bg{
    background-color: #34495E;
    z-index: 9999;
    /* position: fixed;
    width: 100%;
    top: 0; */
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}