.bg{
    background-color: #F1BB87;
    z-index: 9999;
    /* position: fixed;
    width: 100%;
    top: 0; */
    border-bottom-left-radius: 13px; /* Radio de esquina inferior izquierda */
    border-bottom-right-radius: 13px; /* Radio de esquina inferior derecha */

}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}